:root {
  --orange: #b8661e;
  --green: #3d673d;
  --brown: #161308;
  --pink: #cc7e7e;
  --cream: #fff6da;
  --gray: #37382e;
}

body {
  background: var(--orange);
  position: relative;
}
/* Header section */
header.main-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: var(--green);
  padding: 25px 2.5%;
  position: sticky;
  top: 0%;
  border-bottom: 10px solid var(--brown);
}

header.main-header h1 {
  font-size: 350%;
  color: var(--orange);
}

header.main-header nav a {
  text-decoration: none;
  position: relative;
  color: var(--pink);
  font-size: large;
}

header.main-header nav a:not(last-child) {
  margin-right: 8px;
}

header.main-header nav a:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 3px;
  background: var(--orange);
  transition: width 0.25s;
}

header.main-header nav a:hover:after {
  width: 100%;
}

/* content */

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0%;
  justify-content: space-around;
}

.about {
  display: flex;
  flex: 1 0 25%;
  flex-direction: column;
  align-items: center;
  background: var(--gray);
  min-width: 300px;
}

.about h2,
.about img,
.about p,
#main-project,
.project {
  border: 10px solid var(--brown);
  border-radius: 40px;
  margin: 2%;
}

.about h2,
.about img,
.about p {
  width: 90%;
}

.about h2 {
  font-size: 300%;
  color: var(--pink);
  background: var(--green);
  padding: 4% 0%;
  margin-top: 4%;
  text-align: center;
}

.about img {
  border-radius: 10%;
}

.about p {
  padding: 5%;
  background: var(--cream);
}

article {
  display: flex;
  flex: 1 0 75%;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  background: var(--orange);
}

article img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

#main-project {
  flex: 1 0 90%;
  height: 780px;
}

.project {
  flex: 1 0 45%;
  height: 350px;
  min-width: 350px;
  position: relative;
}

.project h3 {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
